body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #141218;
}

.burger-menu {
    font-size: 30px;
    cursor: pointer;
    color: white;
    position: fixed;
    top: 30px; /* Adjusted value */
    left: 10px;
    z-index: 1000;
}

.burger-nav {
    margin-top: 10vh;
    position: fixed;
    top: 70px; /* Adjusted value */
    left: 0;
    width: 100%;
    background-color: #141218;
    transform: translateY(-100%);
    transition: transform 0.3s ease;
}

.burger-nav.active {
    transform: translateY(0);
}

.burger-nav nav a {
    margin-top: 20vh;
    display: block;
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: left;
}

.burger-nav nav a:hover {
    background-color: #ddd;
    color: black;
    border-radius: 10px;
    transition: 1s;
}

.main-nav {
    height: 100vh;
    width: 20vh;
    background-color: #141218;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;
    border-radius: 7px;
    margin-top: 20vh; /* Adjust the value as needed */
    transition: transform 0.3s ease;
    transform: translateX(-100%);
}

.main-nav.active {
    transform: translateX(0);
}

.main-nav a {
    display: block;
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: left;
}

.main-nav a:hover {
    background-color: #ddd;
    color: black;
    border-radius: 10px;
    transition: 1s;
}

.content {
    margin-left: 0;
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30vh;
}

h1 {
    color: white;
}

.button {
    display: flex;
    gap: 0px;
    justify-content: center;
}

.scroll-button {
    width: 80px;
    height: 30px;
    border-radius: 7px;
}

.scroll-button:hover {
    background-color: gray;
    color: black;
    transition: 0.5s;
}
